* {
	Box-sizing: border-box;
}

div.parent_container {
	/* border:1px solid red; */
	width: 100%;
	margin: 10px auto 20px auto;
	padding: 0;
	font-size: 0;
}

aside.aside, main.main {
	display: inline-block;
	vertical-align: top;
}
/*=================== 輪播器 ======================*/
/* .carousel-inner { */
/* 	/* border: 1px solid rgb(180, 17, 17); */ */
/* 	height: 400px; */
/* 	border-radius: 12px; */
/* 	margin-bottom: 10px; */
/* } */

/* .carousel .carousel-item img { */
/* 	max-height: 400px; */
/* 	object-fit: cover; */
/* 	border-radius: 12px; */
/* 	width: 100%; */
/* } */

.prodpicArea {
	height: 400px;
	width: 100%;
	border-radius: 12px;
	margin-bottom: 10px;
}

img#prodpic {
	max-height: 400px;
	object-fit: cover;
	border-radius: 12px;
	width: 100%;
	margin-bottom: 10px;
}
/* ===================== Top ===================== */
div.breadcrumbandSearch span {
	/* vertical-align: buttom; */
	display: inline-block;
}

nav.breadcrumbandSearch {
	font-size: 24px;
	display: inline-block;
}
/* ======== 麵包屑 ======== */
ol.breadcrumb {
	font-size: 20px;
}

a {
	color: black;
	text-decoration: none;
}

.breadcrumb-item.active {
	color: orange;
	font-weight: bold;
}
/* ======== 搜尋 ======== */
div.search_area {
	position: relative;
	float: right;
	width: 200px;
	height: 30px;
	margin: 5px 10px;
	border-radius: 12px;
}

input.search_text {
	border: 1px solid gray;
	background-color: white;
	border-radius: 12px;
	float: right;
	width: 200px;
	height: 30px;
	padding: 0 0 0 8px;
	margin: 0px;
}

input.search_button {
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 5px 10px;
	right: 0;
	padding: 0;
	background-color: transparent;
	background-size: 20px 20px;
	border: none;
}

div.hotCategoryandSort div {
	vertical-align: middle;
	padding: 10px;
	margin: 0;
}

/* ===================== aside ===================== */
aside.aside {
	border: 1px solid #a9a9a9;
	/* background-color: #FFDEB9; */
	border-radius: 10px;
	font-size: 16px;
	padding: 10px 10px;
	margin-left: 10px;
	width: 260px;
}
/* ======== pay_area ======== */
div.pay_area {
	font-size: 24px;
	padding: 0 0 0 10px;
}

ul.price_list {
	/* border:1px solid green; */
	margin-left: 0;
	padding: 0 0 0 18px;
}

hr {
	margin: 10px 0;
}

.pay_immediately, .add_cart {
	text-align: center;
	border: 1px solid #a9a9a9;
	background-color: white;
	display: inline-block;
	width: 230px;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 5px;
}

.pay_immediately:hover, .add_cart:hover {
	background-color: #FFDEB9;
}

/* ===================== main ===================== */
main.main {
	/* border:1px solid blue; */
	font-size: 16px;
	width: calc(100% - 260px - 20px);
}
/* ======== prod ======== */
div.prod {
	border: 1px solid gray;
	border-radius: 10px;
	/* height: 1300px;  */
	padding: 20px;
	margin-bottom: 10px;
}

span.prodTitle {
	font-size: 24px;
	margin: 0 0 0 10px;
}

span.star_block {
	display: inline-block;
}

span.star_block>span.star {
	cursor: pointer;
	display: inline-block;
	margin-right: 3px;
}

span.star_block>span.star.-on {
	color: orange;
}

div.type {
	border: 1px solid white;
	/* 	background-color: #FFDEB9; */
	border-radius: 10px;
	width: fit-content;
	padding: 0 10px;
	margin: 5px 0;
}

div.add, span.star_score {
	margin: 0 0 10px 10px;
}

div#map {
	border: 1px solid gray;
	border-radius: 8px;
	height: 300px;
	width: 97%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin: 1px;
}

div.star_area {
	/* border: 1px solid gray; */
	font-size: 24px;
	padding: 20px;
	border-radius: 10px;
	background-color: #F5F5F5;
	margin: 10px 0px;
}

div.star_filter {
	/* display: inline-block; */
	float: right;
}

span.star.-on {
	color: orange;
}

div.star_filter button {
	font-size: 16px;
	border: 0px;
	background-color: #FFDEB9;
	padding: 3px 20px;
	margin: 0px 3px;
	border-radius: 3px;
}

div.star_filter button:hover {
	background-color: orange;
}
/* ======== comment ======== */
div.sort {
	float: right;
	/* display: inline-block; */
	text-align: right;
}

div.sort div, select {
	vertical-align: middle;
}

div.sortBy {
	display: inline-block;
	margin-right: 10px;
}

select.sorting {
	/* float: right; */
	width: 150px;
	border-radius: 6px;
	margin-right: 12px;
}
div.comment {
	margin: 10px 0px;
	/* border: 1px solid gray; */
	padding: 10px;
}

div.acc_photo, div.nameandStar {
	vertical-align: top;
}

div.acc_photo {
	border: 1px solid gray;
	height: 50px;
	width: 50px;
	border-radius: 999em;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 10px;
	/* margin: 5px; */
}

div.nameandStar {
	/* border: 1px solid red; */
	display: inline-block;
	width: 90%;
}

div.dot3 {
	float: right;
}

input.more {
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-size: 20px 20px;
	border: none;
}

div.acc_name {
	display: inline-block;
}

div.commemt_star_block {
	display: inline-block;
	color: gray;
}

div.comment_area {
	margin-top: 0px;
	margin-left: 60px;
	padding: 5px;
}

div.comment_text {
	padding-top: 5px;
}

hr.comment_hr {
	margin: 5px;
	margin-left: 60px;
}
/* ======== 彈窗 ======== */
.confirmation-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	display: none;
}

.confirmation-box {
	background-color: #fff;
	padding: 20px;
	height: 350px;
	width: 350px;
	text-align: center;
	border-radius: 5px;
}

.confirmation-box p {
	font-size: 20px;
	margin-bottom: 20px;
}

.confirmation-box button {
	padding: 8px 16px;
	margin-top: 10px;
	margin-right: 10px;
	border: none;
	background-color: #FFDEB9;
	border-radius: 3px;
	cursor: pointer;
}

.confirmation-box button.cancel-btn {
	background-color: #FFDEB9;
	border-radius: 3px;
}

.confirmation-box button:hover {
	font-size: 16px;
	border: 0px;
	background-color: orange;
	color: white;
	border-radius: 3px;
}

textarea {
	height: 180px;
	width: 250px;
	max-height: 200px;
	resize: vertical;
}

.centered-text {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 150px;
}