/*搜尋結果餐廳頁面*/
div.main_content{
    width: 1200px;
    margin: auto;
}

.list-group button {
  margin-bottom: 30px;
}

/*版面配置*/
#resdatail {
  cursor: pointer;
}
.far.fa-bookmark {
  cursor: pointer;
}
#fff {         
  padding: 0.5rem; /* 設定內邊距，使文字與邊框有一點距離 */  
}

img {         
  border-radius: 10px;
}

a{
  text-decoration:none;
  color: black;
}
.row{margin-bottom: 5px
  ;}

.col-sm-12{
  display: flex;
  height: 60px; 
  align-items: center;   
 }
div>h1{
  font-size: 20pt ;  
  text-align: right;
  justify-content: right;
  margin: 0px 0px 0px;
}
#head_midieum {
  display: flex;
  justify-content: right;
  align-items: center;
}

/*搜尋標籤相關*/
input {
  border-radius: 20px;
  width: 200px;
  text-align: center;
  justify-items: left;
  height:25px;
  }
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  } 
#search-input {
  padding-right: 25px; 
  border-radius: 50px;
  width: 200px; 
  margin-left: 10px;  
  height: 30px;
  }
#search_icon{
  margin-left: -30px;
  cursor: pointer; 
}

/*熱門分類*/
.col-sm-5 .kind{
  border-radius: 30px;
  background-color: #fff;
  width: 70px;
margin-left:10px;

}
/*下拉選單相關*/
.dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  width: 200px;
}
.btn.dropdown-toggle{
  margin-left: 20px;
  border-radius: 30px;
  background-color: whitesmoke;
}
.dropdown-menu a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
}
.btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #FFDEB9;
  }
.dropdown-menu a:hover {
  background-color: #f2f2f2;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
  background-color: #ccc;
}
/*卡片相關*/
.card-body{
  display:flex;
  width: 100%;
 height: 200px;
 padding: 8px;
 }
.card-body img{
  width: 200px;
  height: 100%; 
  margin-right: 5px;
}
.card-c{
  font-size: 24px;
}
.card-a{
  cursor: pointer;
}
.card-p p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.card{  
  border-radius: 15px  ;
}
.overflow-auto{
  max-height: 500px;
  width: 100%;
  padding: 0 0;
 }
.card-pp{
  margin: 0;
}
 .card-p{
  width: 100%;
 }

 .ellipse {
  display: flex;
  align-items: center;
  width: 50px;
  height: 24px;
  background-color: whitesmoke;
  border-radius: 15px;
}

.ellipse p {
  width: 100px;
  text-align: center;

}

.ellipse i {
  justify-content: left;
}

.fa.fa-star{
 color: yellow ;
}

 /*卡片的下拉式選單*/
 #card_botton button{ 
  justify-items: right;  
  margin: 5px 5px 5px 5px ;}


 /*分頁頁簽*/
.pagination{
justify-content: center;
align-items: center;
display: flex;
margin: 5px 5px 5px 5px;
}
#page-item{ 
  align-items: center;
  justify-content: center;
}
